.wcorg-organizer {
    margin: 0 0 30px;
}

.wcorg-organizer-description .avatar {
    float: left;
    margin: 0 30px 20px 0;
    border-radius: 50%;
}

/* Single Posts */
.single-post #main .entry-title {
    font-size:35px;
    border-top:none;
    border-bottom:3px solid #CCC;
}

@media screen and (max-height: 800px) {
    .single-post  #main .entry-title {
        font-size: 24px;
    }
}

/* Speakers listing */

.wcorg-speaker {
    margin: 0 0 45px;
}

.wcorg-speaker:after {
    content:" ";
    display:table;
    clear:both;
}

.wcorg-speaker-description img {
    float:left;
    border-radius:50%;
    margin:0 25px 10px 0;
    padding:0;
}


.speaker-avatar {
    float:left;
    margin:0 25px 10px 0;
    padding:0;
}

.speaker-avatar > img {
    border-radius:50%;
}

/* Sponsors Page */

div[class^="wcorg-sponsor-level-"] > h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 120px 0 50px;
    font-size: 40px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px 0;
}

div[class^="wcorg-sponsor"] h3 {
    display:none;
}


.wcorg-sponsors img {
    margin: 80px auto 30px;
    display: block;
    width: auto;
    max-height: 250px;
}


/* Blog */
body.blog .page-header {
    display: none;
}

body.blog #main h2.entry-title,
body.archive #main h2.entry-title{
    font-size: 32px;
    border-top: none;
    border-bottom: 3px solid #CCC;
}
body.blog  #main h2.entry-title a:hover, body.archive #main h2.entry-title a:hover{
    box-shadow:none;
}

body.blog #main > article, body.archive #main > article {
    width: 100% !important;
    max-width: 760px;
    margin: 0 auto !important;
    float: none !important;
}


/* Attendees */

#tix-attendees .avatar {
    float:none;
    width:96px;
    height:96px;
    border-radius: 50%;
}

#tix-attendees .tix-columns-3 li {
    height: 170px;
    margin: 0 0 35px;
    text-align: center;
}

#tix-attendees .tix-attendee-name {
    margin-left:0;
}

#tix-attendees .tix-field {
    margin-left:0;
    box-shadow:none;
}

/* Logo override for https */

.home .wp-custom-header:after {
    background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/wcsd17-logo-square-white.png') !important;
}

body.page:not(.twentyseventeen-front-page) .site-title a {
    background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/wcsd17-logo-transparent-vertical.png') !important;
}

body.page:not(.twentyseventeen-front-page) .wp-custom-header {
    background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/interior-header.jpg') !important;
}

@media screen and (max-height: 800px) and (max-width: 700px) {
    .home .wp-custom-header:after {
        background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/hipster-logo-600.png') !important;
    }
}

@media screen and (max-width: 480px) {
    body.page:not(.twentyseventeen-front-page) .site-title a {
        background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/wcsd17-logo-horizontal-600.png') !important;
    }
}

@media screen and (max-height: 800px) and (max-width: 700px) and (min-width: 481px) {
    .home .wp-custom-header:after {
        background-image: url('http://2017.sandiego.wordcamp.org/files/2016/12/hipster-logo-600.png') !important;
        background-size: 300px !important;
        height: 300px;
        margin: -220px 0 0 -150px !important;
        width: 300px;
    }

    .home .site-branding .site-description {
        font-size: 32px;
    }

    .page .panel-content .entry-title, #main .entry-title {
        font-size: 44px;
    }
}

.single-featured-image-header {
    background-color:#FFF !important;
}