.wcorg-organizer {
    margin: 0 0 30px;
}

.wcorg-organizer-description .avatar {
    float: left;
    margin: 0 30px 20px 0;
    border-radius: 50%;
}

/* Sponsors Page */

.page-slug-sponsors .wcorg-sponsor-level-bronze > h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 120px 0 50px;
    font-size: 40px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10px 0;
}

.page-slug-sponsors div[class^="wcorg-sponsor"] h3 {
    display:none;
}


.page-slug-sponsors .wcorg-sponsors img {
    margin: 0 auto 30px;
    display: block;
    max-height: 100%;
}


/* Blog */
body.blog .page-header {
    display: none;
}

body.blog #main > article {
    width: 100% !important;
}

/* Logo override for https */

.home .wp-custom-header:after {
    background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/wcsd17-logo-square-white.png') !important;
}

body.page:not(.twentyseventeen-front-page) .site-title a {
    background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/wcsd17-logo-transparent-vertical.png') !important;
}

body.page:not(.twentyseventeen-front-page) .wp-custom-header {
    background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/interior-header.jpg') !important;
}

@media screen and (max-height: 800px) and (max-width: 700px) {
    .home .wp-custom-header:after {
        background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/hipster-logo-600.png') !important;
    }
}

@media screen and (max-width: 480px) {
    body.page:not(.twentyseventeen-front-page) .site-title a {
        background-image: url('https://2017.sandiego.wordcamp.org/files/2016/12/wcsd17-logo-horizontal-600.png') !important;
    }
}

@media screen and (max-height: 800px) and (max-width: 700px) and (min-width: 481px) {
    .home .wp-custom-header:after {
        background-image: url('http://2017.sandiego.wordcamp.org/files/2016/12/hipster-logo-600.png') !important;
        background-size: 300px !important;
        height: 300px;
        margin: -220px 0 0 -150px !important;
        width: 300px;
    }

    .home .site-branding .site-description {
        font-size: 32px;
    }

    .page .panel-content .entry-title, #main .entry-title {
        font-size: 44px;
    }
}